body {
  padding: 0;
  margin: 0;
  background: url(bg-rain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.rain {
  height: 100vh;
  background: url(rain.png);
  animation: rain 0.3s linear infinite;
}

@keyframes rain {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 20% 100%;
  }
}
